{% extends "base.html" %}

{% block content %}
        <div class="row mb-3" >
            {% if query %}
                <div class="col-12 ">
                    Result for <b>{{ query }}</b>
                    <hr>
                </div>
            {% else %}
                <div class="col-12 col-md-6 mx-auto py-4">
                    <!-- <input type="text" class="form-control" placeholder="Search"> -->
                    {% include 'search/searchForm.html' %}
                </div>
                <div class="col-12">
                    <hr>
                </div>
            {% endif %}
        </div>

         <div class="row">
            {% for obj in object_list %}
               <div class="col-md-4 mb-3">
                  <!-- Reusable List view Snippet -->
                  {% include 'product/snippets/card.html' with instance=obj %}
               </div>
            {% endfor %}
            </div>


      
      <!-- <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a> <br> -->
   
{% endblock %}
